{% extends "base.html" %}


{% block content %}




<div style="width:90%; margin-left: 5%; margin-top: 2%; margin-bottom: 2%; " align="left"> <h2> About eBook Store </h2></div>

<div style="width:90%; margin-left: 5%; margin-top: 2%; margin-bottom: 2%; font-size: 18px; line-height: 180%; ">
    <div style = "margin-bottom: 2%;">
    <b>eBookStore</b> was created as part of an assessment of the course

    <a href = 'https://usosweb.wne.uw.edu.pl/kontroler.php?_action=katalog2/przedmioty/pokazPrzedmiot&prz_kod=2400-DS1SQL'>Python and SQL: intro / SQL platforms</a>
    on my Master Studies - Data Science and Business Analytics <a href = 'https://www.wne.uw.edu.pl'>@Faculty of Economic Sciences, University of Warsaw</a>.
    </div>

    <div style = "margin-top: 3%;">
    <h3> The goal of the assessment </h3>

The goal of assessment was to build web application using Python, Bottle framework and SQLite. I attempted to create online ebook store with basic functionality:
- signup, login and logout
- user is able to order ebooks, add ebooks to wishlist and drop them from it
- admin can add, edit and delete ebooks and users

Obviously, frontend leaves a lot to be desired.

</div>
</div>







{% endblock %}